body{
  /* background-color: #bcc0c533; */
  background-color: #d5e8ec1a;
}
.bglight {
  list-style: none;
  margin: 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap; 
}

.li-left{
  float: left;
}

.li-right{
  float: right;
}

.nav-center {
  width: 400px;
  margin: 0 auto;
}

.search-input {
  width: 360px;
  padding: 10px 16px;
  border-radius: 999px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
}

.search-input:focus {
  border-color: #1db954;
  box-shadow: 0 0 0 2px rgba(29, 185, 84, 0.2);
}

.base-a {
    display: block;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;

}

.base-a:hover {
    background-color: #a8ff97;
    text-decoration: none;
}
.base-a-img {
    display: block;
    color: white;
    margin-left: 10px;
    padding: 2px;

    text-align: center;
    text-decoration: none;
}
.home-list{
  list-style-type: none;
  margin-left: 100px;;
}

.home-a{
  color: #969847;
}

.home-a:hover {
  text-decoration: none;
  color: #F00;
}
